

<div [class.dark-theme]="isDark">
  <mat-toolbar [color]="themeColor">
    <button mat-mini-fab color="primary" aria-label="SideBar" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>


    <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle dark theme">
      <mat-icon>
        brightness_6
      </mat-icon>
    </button>

  </mat-toolbar>
  <mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="side" closed>
      <mat-nav-list>
        <h1>Sidenav</h1>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >

      <app-home></app-home>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

